ul>li.ant-pagination-item.ant-pagination-item-active{
    background-color: #1890FF;
}

ul>li.ant-pagination-item.ant-pagination-item-active:hover{
    border-color:#ffffff;
}

ul>li.ant-pagination-item.ant-pagination-item-active:hover a{
    color: white
}

ul>li.ant-pagination-item.ant-pagination-item-active a {
    color: white
}

ul>li.ant-pagination-item.ant-pagination-item-active a:hover {
    color: white
}