.article{
  width: 940px;
  padding: 48px 32px;
  gap: 21px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px auto;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 4px 12px 0 rgba(0,0,0, 0.15);
  &__list{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 21px;

  }
  &__item{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
  }
  &__label{
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
  }
  &__field{
    width: 300px;
    outline: none;
    padding: 8px 12px;
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    &:focus{
      border: 2px solid #262626;
    }
    &::-webkit-input-placeholder{
      color:#D9D9D9;
    }
    &_error{
      border-color: red;
    }
  }
  &__error{
    color:red;
  }
  &__submit{
    width: 320px;
    align-self: flex-start;
    color:white;
    border: none;
    border-radius: 5px;
    padding: 10px 50px;
    background-color: #1890FF;
    font-size: 16px;
    cursor: pointer;
  }
}



